<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SKYMAP</title>
    <style>
        .topnav {
            background-color: #333;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div class="topnav">
        <center>
            <br>
            <label for="fname">Latitude:</label>
            <input type="text" id="fname" name="fname">
            &nbsp;&nbsp;
            <label for="lname">Longtitude:</label>
            <input type="text" id="lname" name="lname">
            &nbsp;&nbsp;
            <a href="/" class="button">Show</a>
            <br><br>
        </center>
    </div>
</body>
</html>